body {
	width: 100vw;
	height: 100vh;

	margin: 0;
	padding: 0;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

/* Song data */
#info_div {
	flex: 1;
	padding: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.dataline {
	display: flex;
	width: 100%;
	background-color: #DDDDDD;
	padding: 2px;
}
.dataline:nth-child(2n) {
	background-color: #BBBBBB;
}
.datalineKey {
	margin-right: 1em;
	height: 100%;
}
.datalineValue {
	flex: 1;
	height: 100%;
}
.propertylinePicture {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.propertylinePicture > img {
	display: block;
	height: 100px;
	width: 100px;
}
.propertylinePicture > span {
	display: block;
	height: 20px;
	width: 100px;
	background-color: #00000080;
	color: white;
	overflow: hidden;
	text-align: center;
}


/* Nav */
#nav_div {
	position: relative;
	width: 100%;
	height: 5vh;
	margin-bottom: 5px;
}
#navPrev {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 20%; /* 0%-20% */
}
#navNext {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 20%;
	width: 40%; /* 20%-60% */
}
#navSkip {
	position: absolute;
	top: 0;
	bottom: 33%;
	left: 60%;
	width: 40%; /* 60%-100% */
}
#navAuto_label {
	position: absolute;
	height: 33%;
	bottom: 0;
	left: 60%;
	width: 40%; /* 60%-100% */
	text-align: center;
}
