#nav_div {
	position: relative;
	display: flex;
	align-items: stretch;
	width: 100%;
	height: 5vh;
	margin-bottom: 5px;
}

#nav_div > * {
	position: relative;
	border: 1px solid black;
	border-radius: 0;
	flex: 1;
	text-align: center;
}
button:hover, #navSkipAuto + div:hover, #navSortAuto + div:hover {
	opacity: .8;
}

#navPrev {
	background-color: #DDAAAA;
	flex-grow: 2;
}
#navNext {
	background-color: #AACCAA;
	flex-grow: 3;
}
#navSkip {
	background-color: #DDDDAA;
	flex-grow: 3;
}

/* Nav Auto */
#navSortAuto_label, #navSkipAuto_label {
	flex: unset;
	min-width: 10%;
	max-width: 20%;
}
#navSortAuto + div, #navSkipAuto + div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #666666;
	font-size: 12px;
	line-height: 100%;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}
#navSkipAuto, #navSortAuto {
	display: none;
}
#navSkipAuto:checked + div{
	background-color: #DDDD88;
}
#navSortAuto:checked + div{
	background-color: #99DD99;
}
